.appClass {
    text-align: center;
    background-color: teal;
    color: white;
    width: 400px;
}

.cityTitle {
    padding-top: 20px;
}
.profilePic {
    border-radius: 5px 5px 5px 5px;
}

.DWBlock {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
}

.DWTitle {
    font-size: 25pt;
    margin: 0px;
}

.DWTempBlock {
    display: flex;
    justify-content: space-between;
    font-size: 30pt;
}

.cityPhotoContainer {
    position: relative;
    text-align: center;
    color: white;
}

.currentTemp {
    font-size: 80pt;
    text-shadow: 2px 2px grey;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

/* .links :hover :active {
    color: yellow;
} */

.textLinkClass, .buttonClass {
    background-color: rgb(4, 65, 88);
    border-radius: 8px;
    color: white;
    margin: 10px;
}


.forecastTitles h3 {
    margin-block-end: 0;
    font-size: 10pt;
    text-align: left;
}

.HWList ul {
    display: flex;
    /* flex-direction: column; */
    padding-inline-start: 0px;
    align-content: center;
    align-items: center;
    justify-content: space-evenly;
    background-color: rgb(9, 156, 156) ;
    width: 100%;
}

.HWItem ul {
    display: flex;
    flex-direction: column;
}

.dailyWeatherClass {
    display: flex;
    justify-content: center;
}

.formClass {
    display: flex;
    justify-content: center;
    border-radius: 5px;
}

.icon{
    width: 40px;
    height: 40px;
    fill: white;
}

.pageDivider {
    height: 15px;
    background-image: linear-gradient(to right, rgb(11, 73, 109) , rgb(53, 100, 145), rgb(7, 78, 66));
}
